
<h2>Junior Youth are the Future Leaders towards Unity</h2>

<p>"The period between the ages of 11 and 15 represents a special time of every individual, where physical, emotional, intellectual & behavioural changes take place. This special group of individuals are known as junior youth.</p>
<p>Various factors influence the way they think, act and behave such as the environment, culture, upbringing, and the society. Junior youth are observant and often question about the world around them.</p>
<p>It is vital then, to assist them in recognizing the moral issues underlying everyday decisions, besides empowering them to channel energies towards strengthening their own character and serving their nearby community. Therefore, creative attention must be devoted to them via development programs that will engage their interests, involve them in social interaction with older youth, as well as mold their capacities to serve the community.</p>

<h2>The purpose of Junior Youth Gatherings (JYG)</h2>
 
<p>A junior youth group is a group of youth that meet regularly with the purpose of fostering each member's spiritual development. Meetings are carried out in a supportive environment, allowing group members to voice their thoughts and opinions while at the same time learn to understand the wider implications of their beliefs.</p>
<p>An "animator", usually an older youth but not restricted by age, accompanies group members as they engage in a variety of activities which will help them to accomplish this goal.</p>
<p>Together the group studies materials from a curriculum which has been developed to introduce critical moral concepts and simultaneously enhance the member’s power of expression. While each of the books in the curriculum explores universal spiritual principles, they have been developed around the world and provide members with an opportunity to explore cultural aspects of each society from an uplifting perspective.</p>
<p>Groups plan and engage in service and social activities, allowing members to practice the concepts which they have studied, and to develop new skills. As the group members grow and develop, so too does the level and complexity of group activities.</p>

<blockquote>
  <p>I hope that each one of you will become just, and direct your thoughts towards the unity of mankind; that you will never harm your neighbours nor speak ill of any one; that you will respect the rights of all men, and be more concerned for the interests of others than for your own.</p>
  <small>‘Abdu’l-Bahá</small>
</blockquote>

