<div class="row-fluid">
  <div class="span9">
    <div class="cycle-slideshow" 
      data-cycle-fx="carousel"
      data-cycle-timeout="3000"
      data-cycle-carousel-fluid="false"
      data-cycle-slides="> a"
      data-cycle-swipe="true"
      data-cycle-prev=".prev"
      data-cycle-next=".next"
      >
      <% for item in @media %>
        <%= link_to image_tag(item.low_res), item.link %>
        <% if 1 == 2 %>
        <p>
          id, type, created_time, link, caption.text:<br />
          <%= "#{item.media_id}, #{item.media_type}, item.created_at.strftime('%D %l:%M %p')}, #{item.link}, #{item.caption}" %>
        </p>
        <% end # if 1 == 2 %>
      <% end %>
    </div><!--/.cycle-slideshow-->
  </div><!--/.span9-->

  <div class="span3">
    <div class="well sidebar-nav">
      <h3>Tweets</h3>
      <% Tweet.order("tweet_id desc").limit(3).each do |tweet| %>
      <blockquote>
        <p><%= HTMLEntities.new.decode tweet.content %></p>
        <small><%= time_ago_in_words tweet.created_at %> ago</small>
      </blockquote>
      <% end %>
    </div><!--/.well -->
  </div><!--/.span3-->
</div><!--/.row-fluid-->